./election_data/2022-elections-official/
./election_data/PresElectionResults/
./election_data/US_County_Level_Election_Results_08-24/
./election_data/election-results/
./nytimes_covid-19-data/
./unused/export_dataverse/
./updates_completed/
./zipcodes/
./zipcodes/US-Zip-Codes-JSON/
